{% extends "base.html" %}
{% block content %}

<div id="navbar">
  <a href="{{ url_for('users.get_user_info') }}"  > Account Info</a>
    <a href="{{ url_for('users.get_active_user_purchases') }}" >Purchases</a>
    <a href="{{ url_for('users.all_users_details') }}" > Users Public View</a>
    <a href="{{ url_for('userCart.cartPage') }}"  >See your cart</a>
    <a href="{{ url_for('userCart.wishlistPage') }}"  >See your wishlist</a>
    <a href="{{ url_for('inventory.edit_inventory') }}" >See your inventory</a>
    <a href="{{ url_for('inventory.order_fulfillment') }}" >Fulfill Orders</a>
    <a href="{{ url_for('review.my_reviews') }}">My Reviews</a>
    <a href="{{ url_for('review.all_product_reviews') }}">All product reviews by author</a>
    <a href="{{ url_for('review.all_seller_reviews') }}">All seller review by author</a>
    <a href="{{ url_for('review.all_product_reviews_byproduct') }}">All product reviews by product</a>
    <a href="{{ url_for('review.all_seller_reviews_byseller') }}">All seller reviews by seller</a>
</div>

<form method="POST">
  {%for field in form%}
      <span> {{field}}</span>
  {%endfor%}
</form>

<h2>Cart Contents:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Test</th>
      <th scope="col">Product Name</th>
      <th scope="col">Seller Name</th>
      <th scope="col">Price Per Unit</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total Price</th>
      <th scope="col">Review Product</th>
      <th scope="col">Review Seller</th>
    </tr>
  </thead>
  <tbody>
    {% for cart in order%}
      <tr>
        <td>{{cart.product_id}}</td>
        <td>{{cart.product_name}}</td>
        <td>{{cart.seller_name}}</td>
        <td>{{cart.price_per_unit}}</td>
        <td>{{cart.quantity}}</td>
        <td>{{cart.total_price}}</td>
        <td><a href="{{ url_for('review.product_review', sid = cart.seller_id, pid = cart.product_id)}}" role="button">Review Product</a></td>
        <td><a href="{{ url_for('review.seller_review', sid = cart.seller_id)}}" role="button">Review Seller</a></td>


      </tr>
    {% endfor %}
  </tbody>
  <h5 style="margin-top: 1%;">Order Fulfilled Date: <b>{{ status }}</b></h5>
</table>

{% endblock %}